Adafruit-Blinka==8.47.0
adafruit-circuitpython-ads1x15==2.4.0
adafruit-circuitpython-aw9523==1.1.9
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==3.1.1
adafruit-circuitpython-pixelbuf==2.0.4
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==4.1.6
adafruit-circuitpython-seesaw==1.16.3
adafruit-circuitpython-typing==1.11.0
Adafruit-PlatformDetect==3.73.0
Adafruit-PureIO==1.1.11
attrs==24.2.0
binho-host-adapter==0.1.6
certifi==2024.7.4
charset-normalizer==3.3.2
colorzero==2.0
gpiozero==2.0.1
idna==3.7
iniconfig==2.0.0
packaging==24.1
pluggy==1.5.0
py==1.11.0
pyftdi==0.55.4
pyparsing==3.1.2
pyserial==3.5
pytest==8.3.2
python-osc==1.9.0
pyusb==1.2.1
requests==2.32.3
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
smbus==1.1.post2
sysv-ipc==1.1.0
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.2
xair-api==2.3.2
